bluesky
git+https://github.com/caproto/caproto@ophyd-tutorial  # TEMP BRANCH
dask
databroker
distributed
ipympl
ipywidgets
jupyterlab <2
lmfit
matplotlib
nbgitpuller
git+https://github.com/tacaswell/ophyd@mnt_simplify_sim  # TEMP BRANCH
pandas
pyepics
suitcase-csv
suitcase-jsonl
suitcase-msgpack
suitcase-tiff
supervisor
