bluesky
git+https://github.com/NSLS-II/caproto@ophyd-tutorial  # TEMP BRANCH
bokeh==1.0.4
dask==1.1.5
dask-labextension==0.3.3
databroker
distributed==1.24
ipympl
ipywidgets
jupyterlab==1.0.0a3
matplotlib
ophyd
pandas
pyepics
tornado<5
pip<19

# Careful: Changing these could break the cluster.
jupyterhub>=0.9.6
nbgitpuller
